# pnpm-related options
shamefully-hoist=true
strict-peer-dependencies=false

# Ignore Node.js related files and folders
node_modules/
npm-debug.log
package-lock.json

# Ignore build output
/dist/
build/
.DS_Store

# Ignore environment-specific files
.env.local
.env.*.local
.env.development
.env.test
.env.staging
.env.production

# Ignore IDE and editor-specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Ignore compiled output from Quasar
.quasar/
quasar-*